.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  background-color: rgb(0, 0, 0, 0.5)
}


/**
/* --- DETAILS section ---
/*
*/
.location-detail-page {
  position: relative;
  background-color: var(--white-color);
  font-size: 0.875rem;

  /* TODO */
  /* height: calc(100vh - 120px); */
  transition: 0.3s;
  margin: 60px auto 0 auto;
  border-radius: 5px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
.location-detail-page {
  padding: 1rem 0;
  outline: none;
}
.location-detail-page section {
  margin: 0.5em 0;
}


.photos,
.facts,
.position {
  padding: 0 1.5rem;
}




/* NAME heading */
.location-name-header {
  margin: 0 1.5rem;
  color: var(--alt-dark-gray-color);
  text-align: left;
}

.name,
.alt-name {

}

.alt-name {
  margin: 0;
  font-size: 0.875rem;
  font-weight: 400;

}
.name {
  margin: 0.5rem 0;
  font-size: 1.25rem;
  font-weight: 400;
}

/*
/*   ARTICLES Content
*/
.photos-gallery,
.photos-link,
.data-link,
.position {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
  /* font-size: 0.75rem; */
}


/* PHOTOS article */

.location-detail-page .photos {
  border-top: 1px solid var(--dark-gray-color);
  display: block;
  text-align: left;
}

.photos-gallery {
  padding-left: 0;
  margin: 1rem 0;
}


.photos-gallery li {
  margin: 0 0.5em 0.5em 0;
  width: 175px;
  height: 120px;
  background-color: var(--light-gray-color);
}
.photos-gallery li:last-child {
  margin-right: 0;
}


.photos-gallery .photo {
  width: 100%;
  height: 100%;
  background-size: cover;
}

/* FACTS article */

.location-detail-page .facts {
  text-align: left;
  font-weight: 300;
  max-height: 200px;
  overflow-y: auto;
  background-color: var(--theme-color);
  border-top: 1px solid var(--dark-gray-color);
  border-bottom: 1px solid var(--dark-gray-color);
}

.facts .content {
  font-size: 1rem;
  line-height: 1.5;
}
.facts .content span[lang="is"] {
  font-style: italic;
  font-weight: 400;
  color: var(--primary-color);
}
.facts .content i {
  font-weight: 400;
}

.data-link {
  margin: 0 0 1rem;
  font-weight: 400;
}

/* POSITION GPS article */

.location-detail-page .position {
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--dark-gray-color);
}

.location-detail-page .position p {
  text-align: left;
  margin: 0 1em 0 0;
}

.location-detail-page .position p:first-child {
  font-weight: 600;
  margin: 0 0.5em 0 0;
}

.location-detail-page .position span {
  font-family: 'Roboto Mono', monospace;
  color: var(--primary-color);
}


/* CLOSE button */

.location-detail-page .close {
  top: 0.5rem;
  right: 0.5rem;
}





@media screen and (max-width: 480px) {
  .photos-gallery li {
    width: 46%;
  }

}
@media screen and (max-width: 600px) {
  .photos-gallery li {
    height: 15vh;
  }

}
@media screen and (max-width: 800px) {
  .location-detail-page {
    height: 100vh;
    margin: 0;
  }
  .location-detail-page.error {
    max-width: 100%;
  }
  .photos-gallery {
    justify-content: flex-start;
  }
  .location-detail-page .close {
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
  }
}

/* ERROR page */

.location-detail-page.error {
  position: relative;
  margin: 30% auto;
  max-width: 600px;
  height: auto;
}
