.logo {
  height: 4rem;
  width: 100%;
  background-color: var(--white-color);
  border-bottom: 2px solid var(--dark-gray-color);
  display: flex;
  flex-wrap: nowrap;
}

.flag {
  width: 50px;
  height: 36px;
  margin: auto 1em;
}

.slogan {
  margin: auto 1em auto 0;
  padding: 0;
  color: var(--primary-color);
  font-size: 1.2em;
  font-weight: 400;
}

@media screen and (max-width: 360px) {
  .slogan {
    display: none;
  }
}