.side-panel {
  position: fixed;
  width: 300px;
  height: 100%;
  top: 0;
  background-color: var(--theme-color);
  z-index: 10;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  font-size: inherit;
}
.side-panel.show {
  right: 0;
}
.side-panel.hidden {
  right: -300px;
}


/* FILTER BAR */

.side-panel-bar {
  /* flex: 1; */
  width: 100%;
  height: 4rem;
  border-bottom: 2px solid var(--dark-gray-color);
  display: inline-flex;
  padding: 0.5rem 1.5rem 0.5rem 1rem;
}
.side-panel-bar .filter-input {
  width: 100%;
  border: none;
  background: none;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  font-size: inherit;
  color: var(--dark-gray-color);
  padding: 0.5rem;
}
.side-panel-bar .filter-input.query {
  color: var(--black-color);
}
.side-panel-bar .filter-input:focus {
  outline-color: var(--black-color);
}
.side-panel-bar .filter-input.state-success:focus {
  outline-color: var(--primary-color);
}
.side-panel-bar .filter-input.state-error:focus {
  outline-color: var(--accent-color);
}

/* LIST OF LOCATIONS */

.locations-list {
  width: 100%;
  flex-grow: 1;
  padding: 1rem 1rem 2rem ;
  overflow-y: auto;
  text-align: left;
  outline: 0;
}


/* HAMBURGER ---> './Hamburger.css' */


.side-panel .empty-state {
  font-size: 0.875rem;
  text-align: center;
  color: var(--dark-gray-color);
  padding: 0;
  margin: 0;
}
.side-panel .message {
  text-align: center;
  color: var(--dark-gray-color);
}
.side-panel .message h2 {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.side-panel .action-panel {
  padding: 1rem;
  border-top: 2px solid var(--gray-color);
}
.side-panel .action-panel h2 {
  color: var(--dark-gray-color);
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 360px) {
  .side-panel {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .side-panel {
    height: calc(100vh - 4rem);
    top: 4rem;
  }
  .side-panel.show {
    right: 0;
  }
  .side-panel.hidden {
    right: -100%;
  }
}
