.pin {
  position: relative;
}

.pin svg {
  position: absolute;
  top: 0;
  left: 0;
}

.bounce .pin-body {
  animation: bounce-body 300ms cubic-bezier(.20,.70,.80,.60);
}


@keyframes bounce-body {
   50% { transform: translateY(-30%); }
  100% { transform: translateY(0); }
}


.st0 {
  opacity: 0.5;
}
.active .st0 {
  opacity: 0.75;
}

.active .st1 {
  fill: var(--accent-color-darker);
}
.active .st2 {
  fill: var(--accent-color);
}
.active .st3 {
  fill: var(--primary-color);
}


.st1 {
  fill: var(--primary-color-darker);
}
.st2 {
  fill: var(--primary-color);
}
.st3 {
  fill: var(--accent-color);
}