@media screen and (max-width: 640px) {
  .side-panel {
    position: absolute;
    width: 100%;
    height: 40vh;
    top: 60px;
  }
  .side-panel.show {
    /* może metoda transform? */
    right: 0;
  }
  .side-panel.hidden {
    /* może metoda transform? */
    right: -100%;
  }
  .places-list {
    height: calc(100% - 62px);
  }
  .hamburger {
    position: fixed;
    /* top: 0; */
    /* left: calc(100% - 60px); */
    right: 0;
  }
  main.panel-show,
  main.panel-hidden {
    width: 100%;
  }
}
