.location-detail-page {
  position: absolute;
  /* transform: translateX(-50%); */
  background-color: #fff;
  /* width: 100%; */
  /* height: calc(100vh - 62px); */
  height: 100vh;
  transition: 0.3s;
  /* transition: bottom 0.8s; */
  z-index: 99;
}
.location-detail-page.panel-hidden {
  /* left: 50%; */
  left: 0;
  width: 100%;
}
.location-detail-page.panel-show {
  /* left: calc(50% - 150px); */
  left: 0;
  /* width: calc(100% - 300px); */
  width: 100%;
}











.location-detail-page {
  padding: 1.5em 0;
  outline: none;
}
.location-detail-page article {
  margin: 2em 0;
}
.location-detail-page section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
}

.location-detail-page.no-marker {
  /* No MARKER selected page */
}
.location-detail-page.marker-selected {
  /* MARKER is selected info page */
}

/* .location-detail-page.open {
  bottom: -320px;
} */
.location-detail-page.open {
  top: 0px;
}
.location-detail-page.close {
  top: calc(100vh - 30px);
}
.top-bar,
.photos,
.facts,
.position {
  padding: 0 3em;
}





.top-bar {

}


.location-detail-page .photos {
  display: flex;
}

.location-detail-page .photo {
  width: 150px;
  height: 150px;
  background-color: #333;
  background-size: cover;
  margin: 0.2em 0.2em 0 0;
}

.location-detail-page .facts {
  text-align: left;
  font-size: 0.8em;
  font-weight: 300;
  max-height: 200px;
  overflow-y: auto;
  background-color: #f1f1f1;

  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}
.location-detail-page .position {
  text-align: left;
  font-size: 0.75em;
  font-weight: 300;
  color: #999;
}

.location-detail-page .position p {
  margin: 0.5em 0;
}
.location-detail-page .position span {
  font-family: 'Roboto Mono', monospace;
  height: 100px;
}





.location-detail-page .close {
  position: absolute;
  background-image: url('../icons/close.svg');
  background-color: inherit;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  font-size: 0;
  border: none;
  outline: none;
  cursor: pointer;
}
