.info-window {
  background-color: var(--white-color);
  /* padding: 1.5em 1em 1em; */
  cursor: default;
  background: var(--white-color);
  /* border-radius: 5px; */
  text-align: left;
}



.info-window h2 {
  /* font-weight: 500; */
  font-size: 1.25em;
}
.info-window h4 {
  font-weight: 500;
  font-size: 0.875em;
}

.info-window .details-button {
  /* font-size: 1.25em; */
}

.info-window .close {
  position: absolute;
  background-image: url('../icons/close.svg');
  background-color: inherit;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  font-size: 0;
  border: none;
  outline: none;
  cursor: pointer;
}