.info-window {
  background-color: var(--white-color);
  cursor: default;
  text-align: left;
}

.info-window-header,
.info-window-action-panel {
  padding: 1rem;
}


.info-window-header h4 {
  margin: 0 0 0.5rem 0;
  font-weight: 500;
  font-size: 0.75rem;
}
.info-window-header h2 {
  margin: 0;
  font-weight: 400;
  font-size: 1.125rem;
}
.info-window-thumbnail {
  background-color: var(--light-gray-color);
  background-size: cover;
  width: 12rem;
  height: 8rem;
  overflow: hidden;
}

.info-window-action-panel {
  text-align: center;
}


/*
  OVERRIDDEN MAPBOX STYLES
*/


.mapboxgl-popup .mapboxgl-popup-content {
  font: inherit;
  padding: 0;
  border-radius: 8px;
  width: 12rem;
  overflow: hidden;
}
.mapboxgl-popup-close-button {
  display: none;
}