.locations-list .item {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Mono', monospace;
  border-bottom: 1px solid var(--dark-gray-color);
  text-decoration: none;
  /* padding: 1rem 0.5rem; */
  transition: max-height 150ms, background-color 300ms;
}
.item:focus {
  outline: none;
}


.locations-list .item.details-show {
  max-height: 100%;
  background-color: var(--white-color);
}

.locations-list .item.details-hidden {
  overflow: hidden;
  max-height: 5.5rem;
}

.item-name,
.details-container {
  padding: 1rem 0.5rem;
}

.item-name h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  margin: 0;
}
.item-name h2 {
  font-size: 1rem;
  font-weight: 300;
  margin: 0.5rem 0 0;
}




.details-container {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}


.locations-list .item.details-show .details-container {
  transition: translate(0, 0);

}
.locations-list .item.details-hidden .details-container {
  transition: translate(0, -300px);
}




.locations-list .item a {
  text-decoration: none;
  color: var(--dark-gray-color);
  cursor: pointer;
}
.locations-list .item ul {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.75em;
}
.item-list-tags {
  margin-bottom: 1rem;
}

.item .tag {
  font-weight: 400;
  padding: 0.5em 0.75em;
  margin-right: 0.25rem;
  color: var(--alt-dark-gray-color);
  background-color: var(--light-gray-color);
  border-radius: 8px;
}



.item-list-images {
  display: flex;
  flex-wrap: nowrap;
  background-color: var(--light-gray-color);
  justify-content: center;
  overflow-x: hidden;
  padding: 0.5rem;
}

.item .photo {
  flex: 1;
  min-width: 6rem;
  height: 4rem;
  background-color: var(--alt-dark-gray-color);
  background-size: cover;
  margin: 0.125rem;
}

.item-list-bottom-panel {
  display: flex;
  margin-top: 1rem;
  justify-content: flex-end;
}
.item-list-bottom-panel .button {
  margin-left: 0.5rem;
}


.item-list-empty-state {
  display: flex;
  width: 100%;
  min-height: 10rem;
}