.pin {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.pin svg {
  position: absolute;
  top: 0;
  left: 0;
  transition: 150ms;
}

.bounce .pin-body {
  animation: bounce-body 300ms cubic-bezier(.20,.70,.80,.60);
}

.pin:hover .pin-body {
  fill: var(--primary-color);
  transform: translateY(-4px);
}
.pin:hover .pin-shadow {
  fill: var(--primary-color);
}


@keyframes bounce-body {
   50% { transform: translateY(-16px); }
  100% { transform: translateY(0); }
}


.st0 {
  opacity: 0.5;
}
.active .st0 {
  opacity: 0.75;
}

.active .st1 {
  fill: var(--accent-color-darker);
}
.active .st2 {
  fill: var(--accent-color);
}
.active .st3 {
  fill: var(--primary-color);
}


.st1 {
  fill: var(--primary-color-darker);
}
.st2 {
  fill: var(--primary-color);
}
.st3 {
  fill: var(--accent-color);
}