/* * {
  outline: none;
} */

body {
  overflow: hidden;
}

header,
main {
  display: flex;
  flex-wrap: nowrap;
}

.app {
  text-align: center;
  position: relative;
}

/* MAIN CONTAINER */

main {
  height: calc(100vh - 62px);
  transition: width 0.3s;
  outline: none;
  overflow: hidden;

  /* width: 100%; */
}
main.panel-hidden {
  width: 100%;
}
@media screen and (min-width: 601px) {
  main.panel-show {
    width: calc(100% - 300px);
  }
}

/*
  Modals
*/

.modal-footer {
  display: flex;
  justify-content: center;
  margin-top: 1rem
}

/*
/* ERROR message
*/

.error {
  position: absolute;
  top: 62px;
  left: 0;
  width: 100%;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.8em;
  background-color: var(--warning-color);
  text-align: left;
  padding: 1em;
}
.error span {
  text-decoration: underline;
  text-transform: uppercase;
  text-decoration-color: #fff;
}
.error ol {
  margin: 0;
}
.error li {
  list-style: decimal;
}
