* {
  /* transition: 0.3s; */
  outline: none;
}
body {
  overflow: hidden;
}
header,
main {
  display: flex;
  flex-wrap: nowrap;
}
.app {
  text-align: center;
  position: relative;
}

header {
  height: 62px;
  width: 100%;
  background-color: #fff;
  border-bottom: 2px solid #999;
}


/* MAP COMPONENT */
main {
  height: calc(100vh - 62px);
  transition: width 0.3s;
  /* border: 1px solid #036; */
  outline: none;
  overflow: hidden;
}
main.panel-hidden {
  width: 100%;
}

main.panel-show {
  width: calc(100% - 300px);
}

.details-button {
  border: none;
  outline: none;
  padding: 0.8em;
  font-family: inherit;
  font-size: 1rem;
  background-color: #06a;
  color: #fff;
  cursor: pointer;
}
.details-button:hover {
  background-color: #004d80;
}
.details-button:active {
  background-color: #06a;
}
