* {
  /* transition: 0.3s; */
}
body {
  overflow: hidden;
}
header,
main {
  display: flex;
  flex-wrap: nowrap;
}
.app {
  text-align: center;
  position: relative;
}

.header {
  height: 62px;
  width: 100%;
  background-color: #fff;
  border-bottom: 2px solid #999;
}


/* MAP COMPONENT */
main {
  height: calc(100vh - 62px);
  transition: width 0.3s;
  /* border: 1px solid #036; */
  outline: none;
}
main.panel-hidden {
  width: 100%;
}
main.panel-show {
  width: calc(100% - 300px);
}
/* testowo */
main #content {
  width: 100%;
  background-color: #ddd;
}

.details-button {
  border: none;
  outline: none;
  padding: 1rem;
  font-family: inherit;
  font-size: 1rem;
  background-color: #06a;
  color: #fff;
  cursor: pointer;
}

.hamburger {
  position: absolute;
  fill: #999;
  right: 300px;
  top: 0;
  /* TODO: musi byc narazie bo komponent generuje szerszy ekran */
  overflow: hidden;
  cursor: pointer;
}
