:root {
  --primary-color: #06a;
  --primary-color-darker: #004d80;
  --accent-color: #e1002c;
  --accent-color-darker: #b0002c;
  --white-color: #fff;
  --warn-color: #fd0;
  --black-color: #000;
  --dark-gray-color: #999;
  --theme-color: #eaeaea;
}




html {
  box-sizing: border-box;
  font-size: 16px;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* The emerging W3C standard
   that is currently Firefox-only */
  * {
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: orange;
}
*::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 20px;
  border: 3px solid orange;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
}
ul, li {
  list-style: none;
}
