:root {
  --primary-color: #06a;
  --primary-color-darker: #004d80;
  --primary-color-darker-alt: #002944;
  --accent-color: #e1002c;
  --accent-color-darker: #b0002c;
  --white-color: #fff;
  --warning-color: #fd0;
  --black-color: #000;
  --alt-dark-gray-color: #333;
  --dark-gray-color: #666;
  --gray-color: #999;
  --light-gray-color: #ccc;
  --alt-light-gray-color: #eaeaea;
  --theme-color:  #f1f1f1;
}




html {
  box-sizing: border-box;
  font-size: 16px;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* The emerging W3C standard
   that is currently Firefox-only */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--dark-gray-color) var(--alt-light-gray-color);
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background: var(--light-gray-color);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--dark-gray-color);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--theme-color);
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
}
ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}
